<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    @* CSS *@
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    @* JS *@
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>